## Linear Regression

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel("C:\Rajshekar\LetsUpgrade\Assignments\Datasets\Linear Regression.xlsx",sheet_name=0)

In [3]:
dataset.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [4]:
dataset.isnull().sum()

price          0
sqft_living    0
bedrooms       0
bathrooms      0
floors         0
dtype: int64

In [5]:
dataset.describe()

              price   sqft_living      bedrooms     bathrooms        floors
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   5.400881e+05   2079.899736      3.370842      2.114757      1.494309
std    3.671272e+05    918.440897      0.930062      0.770163      0.539989
min    7.500000e+04    290.000000      0.000000      0.000000      1.000000
25%    3.219500e+05   1427.000000      3.000000      1.750000      1.000000
50%    4.500000e+05   1910.000000      3.000000      2.250000      1.500000
75%    6.450000e+05   2550.000000      4.000000      2.500000      2.000000
max    7.700000e+06  13540.000000     33.000000      8.000000      3.500000

In [6]:
Y = dataset.price

In [7]:
X = dataset.drop(['price'],axis=1)

In [8]:
X

       sqft_living  bedrooms  bathrooms  floors
0             1180         3       1.00     1.0
1             2570         3       2.25     2.0
2              770         2       1.00     1.0
3             1960         4       3.00     1.0
4             1680         3       2.00     1.0
...            ...       ...        ...     ...
21608         1530         3       2.50     3.0
21609         2310         4       2.50     2.0
21610         1020         2       0.75     2.0
21611         1600         3       2.50     2.0
21612         1020         2       0.75     2.0

[21613 rows x 4 columns]

In [9]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [10]:
X1 = sm.add_constant(X)

In [11]:
model.fit(X1, Y)

NameError: name 'model' is not defined

In [ ]:
model = LinearRegression().fit(X1, Y)

In [ ]:
r_sq = model.score(X1, Y)
print('coefficient of determination:', r_sq)

In [ ]:
print('intercept:', model.intercept_)

In [ ]:
print('slope:', model.coef_)

In [ ]:
new_model = LinearRegression().fit(X1, Y.reshape((-1, 1)))

In [ ]:
print('intercept:', new_model.intercept_)

In [ ]:
print('slope:', new_model.coef_)

In [ ]:
y_pred = model.predict(X1)
>>> print('predicted response:', y_pred, sep='\n')

In [ ]:
y_pred = model.intercept_ + model.coef_ * X1
print('predicted response:', y_pred, sep='\n')

## Logistic Regression

In [ ]:
df = pd.read_excel("C:\Rajshekar\LetsUpgrade\Assignments\Datasets\Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
Y = df['Personal Loan']

In [ ]:
Y

In [ ]:
Y.value_counts()

In [ ]:
X = df.drop(['ID','ZIP Code','Personal Loan'],axis=1)

In [ ]:
X

In [ ]:
import statsmodels.api as sm

In [ ]:
X1 = sm.add_constant(X)

In [ ]:
Logistic = sm.Logit(Y,X1)

In [ ]:
result = Logistic.fit()

In [ ]:
result.summary()

## Attrition

In [ ]:
df1 = pd.read_csv('C:\Rajshekar\LetsUpgrade\Assignments\Datasets\general_data.csv')

In [ ]:
df1

In [ ]:
from sklearn import preprocessing

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df1['Attrition'] = label_encoder.fit_transform(df1['Attrition'])

In [ ]:
df1

In [ ]:
df1['BusinessTravel'] = label_encoder.fit_transform(df1['BusinessTravel'])

In [ ]:
df1

In [ ]:
df2 = df1.apply(label_encoder.fit_transform)

In [ ]:
df2

In [ ]:
Y1 = df2.Attrition

In [ ]:
P = df2.drop(['Attrition'],axis=1)

In [ ]:
P

In [ ]:
import statsmodels.api as sm
P1 = sm.add_constant(P)

In [ ]:
Logistic1 = sm.Logit(Y1,P)

In [ ]:
Logistic1