## Correlation

To find the correlation between the attrition and other columns

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("general_data.csv")

In [3]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset['Attrition'].replace('Yes',1,inplace=True)

In [5]:
dataset['Attrition'].replace('No',0,inplace=True)

In [6]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
from scipy.stats import pearsonr

In [8]:
a = dataset.Attrition

In [9]:
a1 = dataset.Age

In [10]:
stat, p = pearsonr(a,a1)

In [11]:
print(stat, p) #first correlation between Age and Attrition

-0.15920500686577965 1.996801615886744e-26

In [12]:
a2 = dataset.DistanceFromHome

In [13]:
stat, p = pearsonr(a,a2)

In [14]:
print(stat, p) #second correlation between DistanceFromHome  and Attrition

-0.009730141010179674 0.5182860428050771

In [15]:
a3 = dataset.Education

In [16]:
stat, p = pearsonr(a,a3)

In [17]:
print(stat, p) #third correlation between Education  and Attrition

-0.015111167710968713 0.3157293177118575

In [18]:
a4 = dataset.EmployeeCount

In [19]:
stat, p = pearsonr(a,a4)

C:\Users\Ranjani\Anaconda3\lib\site-packages\scipy\stats\stats.py:3845: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

In [20]:
print(stat, p) #fouth correlation between EmployeeCount  and Attrition

nan nan

In [21]:
a5 = dataset.PercentSalaryHike

In [22]:
stat, p = pearsonr(a,a5)

In [23]:
print(stat, p) #firth correlation between PercentSalaryHike and Attrition

0.03253259489105349 0.030743386433355353

In [24]:
a6 = dataset.StandardHours

In [25]:
stat, p = pearsonr(a,a6)

In [26]:
print(stat, p) #sixth correlation between StandardHours and Attrition

nan nan

In [27]:
a7 = dataset.TrainingTimesLastYear

In [28]:
stat, p = pearsonr(a,a7)

In [29]:
print(stat, p) #seventh correlation between TrainingTimesLastYear and Attrition

-0.049430576244255 0.0010247061915365072

In [30]:
a8 = dataset.YearsAtCompany

In [31]:
stat, p = pearsonr(a,a8)

In [32]:
print(stat, p) #eight correlation between YearsAtCompany and Attrition

-0.1343922139899772 3.1638831224877484e-19

In [33]:
a9 = dataset.YearsSinceLastPromotion

In [34]:
stat, p = pearsonr(a,a9)

In [35]:
print(stat, p) #nineth correlation between YearsSinceLastPromotion and Attrition

-0.03301877514258434 0.028330336189396753

In [36]:
a10 = dataset.YearsWithCurrManager

In [37]:
stat, p = pearsonr(a,a10)

In [38]:
print(stat, p) #tenth correlation between YearsWithCurrManager and Attrition

-0.15619931590162847 1.7339322652896276e-25