## Question 1:

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
string = str(input("Enter the string:"))
res = string.split("@")[-1]
r = res[:-4]
print(r)

Enter the string: john@google.com
google

## Question 2:

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [2]:
items=[n for n in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

## Question 3:

Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [5]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'apple', 'cherry', 'grapes', 'banana', 'orange', 'mango'}

In [8]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [11]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [13]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #error occurs beacuse we have deleted the thisset in step3

NameError: name 'thisset' is not defined

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [16]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

## Question 4:

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [18]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst]
lst=[1,2,4,6,3,7,8]
print(find_missing(lst))

[5]

## Question 5:

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [19]:
test_list = [12,24,35,24,88,120,155,88,120,155] 
print ("The original list is : " +  str(test_list)) 
  

res = [] 
for i in test_list: 
    if i not in res: 
        res.append(i) 
  
 
print ("The list after removing duplicates : " + str(res))

The original list is : [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The list after removing duplicates : [12, 24, 35, 88, 120, 155]